.fonts{
  font-size: 15px;
}
.bege{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.content2{
  display: flex;
        justify-content: flex-start;
  gap: 10px;
  
}
.buttons{
  display: flex;
  justify-content: flex-end;
  padding-left: 40px;
  align-items: center;
}
.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.msg {
  color: red;
}
.good{
  color: green;
}
.bad{
  color: red;
}
.marg{
  display: flex;
  justify-content: space-between;
}

.main{
  width: 300px;
    top: 50%;
    left: 50%;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: beige;
    padding: 30px;
}